				/*head*/

				html, body {
					background: #f3f3f3;
				}

				header {
					width: 100%;
					height: 4.0rem;
					overflow: hidden;
					padding: 0.5rem 0;
					background: white;
					border-bottom: 0.1rem solid #ccc;
					position: fixed;
					z-index: 20;
					top: 0;
				}

				.shuaxin {
					width: 10rem;
					height: 4rem;
					position: absolute;
					left: 50%;
					top: 50%;
				}

				header p {
					float: left;
					display: inline-block;
					width: 40%;
					height: 4.0rem;
					line-height: 4.0rem;
					text-align: center;
					color: #333;
					font-size: 1.4rem;
					margin: 0 20%;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}

				header .return {
					float: left;
					display: inline-block;
					width: 10%;
					height: 4.0rem;
					text-align: center;
				}

				header .return img {
					width: 0.8rem;
					height: 1.6rem;
					margin: 1.2rem auto;
				}

				.marBott {
					margin-top: 5.1rem;
				}

				/*空购物车*/

				.nullCommodity {
					width: 100%;
					margin: 5% 0%;
					display: none;
				}

				.nullCommodity img {
					margin: 20% auto 0;
					height: 10rem;
				}

				.nullCommodity p {
					text-align: center;
					line-height: 3.5rem;
					font-size: 1.0rem;
					color: #ccc;
				}

				.hotTit {
					display: block;
					width: 100%;
					height: 3.5rem;
					line-height: 3.5rem;
					text-align: center;
					padding: 2% 0;
					font-size: 1.2rem;
					color: #333;
				}

				.hotTit span {
					border: solid 0.1rem #333;
					padding: 3% 8%;
				}

				/*空购物车下方的商品*/

				.commodity {
					width: 94%;
					margin: 3%;
					color: #333;
				}

				.commodity .inCommodity {
					width: 100%;
				}

				.commodity .inCommodity li {
					width: 43%;
					padding: 1.5% 3%;
					display: inline-block;
					text-align: center;
				}

				.commodity .inCommodity li img {
					margin: 0 auto;
				}

				.commodity .inCommodity li .CommodityLabel {
					border-left: solid 0.1rem #333;
					border-right: solid 0.1rem #333;
					padding: 0 6%;
					line-height: 1.0rem;
					font-size: 1.0rem;
					overflow: hidden;
				}

				.commodity .inCommodity li .CommodityLabelAdd {
					/*border-right: solid 0.1rem #333;*/
					/*padding: 0 6%;*/
					line-height: 1.0rem;
					font-size: 1.0rem;
					overflow: hidden;
				}

				.commodity .inCommodity li .CommodityName {
					height: 2.4rem;
					line-height: 2.4rem;
					font-size: 1.2rem;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}

				.commodity .inCommodity li .CommodityPrice {
					font-size: 1.1rem;
					color: #ff3333;
					overflow: hidden;
				}

				.commodity .inCommodity li .CommodityPrice s {
					color: #666;
					padding-left: 5%;
					font-size: 1.0rem;
				}

				.shoppingCart {
					background: white;
					margin-top: 1.0rem;
				}

				input {
					outline: none;
				}

				.shoppingCart .checkAll {
					width: 90%;
					padding: 0 5%;
					height: 3.0rem;
					line-height: 3.0rem;
					font-size: 1.1rem;
					color: #333;
					border-bottom: 0.1rem solid #ccc;
				}

				.titOne, .listOne, .titAll {
					width: 1.6rem;
					height: 1.6rem;
					float: left;
					cursor: pointer;
					margin: 0.7rem 0.7rem 0 0;
					text-align: center;
					background: url(http://weixin.moximoxi.net/MoxiWap/img/input.png) 0 0 no-repeat;
					background-size: 100%;
				}

				.profrom {
					float: left;
				}

				.on_check {
					background: url(http://weixin.moximoxi.net/MoxiWap/img/input_on.png) 0 0 no-repeat;
					background-size: 100%;
				}

				.checkClass {
					opacity: 0;
					cursor: pointer;
					filter: alpha(opacity=0);
				}

				.shoppingCart .checkAll .checkAllSty {
					/*display: inline-block;*/
					/*float: left;*/
				}

				.shoppingCart .checkAll button {
					float: right;
					background: transparent;
					font-size: 1.1rem;
					height: 3.0rem;
					line-height: 3.0rem;
					color: #333;
					width: 5rem;
				}

				.inShoppingCart {
					width: 100%;
					padding: 0 1rem 0 1.5rem;
					overflow: hidden;
					background: white;
				}

				.inShoppingCartList {
					padding: 3% 0% 0% 0%;
					overflow: hidden;
					position: relative;
					height: 8.5rem;
				}

				.open {
					width: 100%;
					background: white;
					position: absolute;
					left: 0%;
					z-index: 11;
				}

				.close {
					width: 13%;
					background: #FF3333;
					position: absolute;
					right: 0;
					z-index: 15;
					color: white;
					text-align: center;
					line-height: 8.0rem;
				}

				.inShoppingCart .inShoppingCartCont {
					width: 90%;
					border-bottom: 0.1rem solid #ccc;
					float: right;
					padding-bottom: 5%;
				}

				.none {
					border: none!important;
				}

				.inShoppingCart img {
					width: 6rem;
					height: 7rem;
					margin-right: 3%;
					border: 0.1rem solid #ddd;
					float: left;
				}

				.inShoppingCart .inShoppingCartTxt {
					width: 60%;
					float: left;
				}

				.inShoppingCart .inShoppingCartTxt p.tit {
					width: 100%;
					color: #666;
					font-size: 1.2rem;
					line-height: 1.5rem;
					height: 3.0rem;
					overflow: hidden;
				}

				/*编辑购物车*/

				.inShoppingCartTxt .edit {
					overflow: hidden;
				}

				.inShoppingCartTxt .edit button {
					width: 3rem;
					height: 3rem;
					text-align: center;
					line-height: 3rem;
					float: left;
					margin-right: 0.2rem;
					border: 1px solid gray;
					background: white;
				}

				.inShoppingCartTxt .edit input {
					width: 5rem;
					height: 2.85rem;
					text-align: center;
					line-height: 3rem;
					float: left;
					margin-right: 0.2rem;
					border: 1px solid gray;
				}

				.inShoppingCart .inShoppingCartTxt p span.free {
					color: #333;
					padding: 1% 3%;
					display: inline-block;
					margin: 1% 0;
					font-size: 1.1rem;
				}

				.inShoppingCart .inShoppingCartTxt p span.number {
					color: #333;
					padding: 1% 3%;
					float: right;
				}

				.inShoppingCart .inShoppingCartTxt span.price {
					font-size: 1.1rem;
					color: #ff3333;
					overflow: hidden;
					padding-bottom: 3%;
				}

				.inShoppingCart .inShoppingCartTxt span.price s {
					color: #666;
					padding-left: 5%;
					font-size: 1.0rem;
				}

				/*.main .inShoppingCart:nth-of-type(1),.main .shoppingCart:nth-of-type(1)*/

				.main {
					/*background: white;*/
				}

				.parent1, .parent2 {
					display: none;
				}

				.total {
					width: 100%;
					padding: 3% 5%;
					position: fixed;
					bottom: 4.8rem;
					border-top: solid 0.1rem #ccc;
					color: #666;
					z-index: 99;
					opacity: 0.8;
					background: #f3f3f3;
				}

				.total .totalCheckAll {
					width: 20%;
					float: left;
					font-size: 1.2rem;
				}

				.total .totalCheckAll span:nth-child(2) {
					margin: 0.7rem 0.7rem 0 0;
					display: inline-block;
				}

				.total .allPrice {
					width: 50%;
					float: left;
				}

				.total .allPrice p {
					width: 70%;
					text-align: right;
					font-size: 1.1rem;
				}

				.total .allPrice p:nth-child(1) span {
					font-size: 2rem;
					color: #333;
				}

				.total button {
					width: 30%;
					height: 3.5rem;
					background: #ff3333;
					color: white;
					font-size: 1.5rem;
					font-family: "微软雅黑";
					float: right;
				}

				.total .inTotalList {
					width: 100%;
					border-bottom: solid 0.1rem #999;
					overflow: hidden;
					padding: 3% 0;
					font-weight: bold;
				}

				.total h2 {
					font-size: 1.2rem;
					color: #666;
					font-weight: normal;
					font-weight: bold;
				}

				/*.total .totalList{
					display: none;
				}*/

				.total .inTotalList span {
					color: #333;
					font-size: 1.2rem;
					float: left;
					/*width: 15%;*/
					display: inline-block;
					text-align: right;
					margin-right: 8%;
					font-weight: bold;
				}

				.total .inTotalList .inTotalListPrice {
					width: 50%;
					float: left;
				}

				.total .inTotalList .inTotalListPrice p {
					font-size: 1.0rem;
					line-height: 1.8rem;
					font-weight: bold;
				}

				.total .inTotalList .inTotalListPrice p:nth-child(2) strong {
					font-size: 1.2rem;
				}

				.total .inTotalList .inTotalListPrice p:nth-child(3) {
					color: #333;
				}

				.total .inTotalList .inTotalListPrice p strong {
					color: #ff3333;
				}

				.total .inTotalList a {
					color: #333;
					font-size: 1.2rem;
					float: right;
					width: 25%;
					height: 2.8rem;
					line-height: 2.8rem;
					color: white;
					background: #FF3333;
					text-align: center;
					display: inline-block;
				}

				/*蒙层*/

				.mainlayoutshow {
					position: fixed;
					top: 0;
					height: 100%;
					width: 100%;
					background: transparent;
					display: block;
					z-index: 20;
				}

				.mainlayouthide {
					display: none;
				}

				/*footer开始*/

				.marTop {
					margin-bottom: 12.0rem;
				}

				footer {
					width: 100%;
					padding: 0.5rem 0;
					position: fixed;
					bottom: 0;
					z-index: 100;
				}

				.inFooter {
					width: 90%;
					padding: 0% 5%;
					display: -webkit-box;
					/* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
					display: -moz-box;
					/* Firefox 17- */
					display: -webkit-flex;
					/* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
					display: -moz-flex;
					/* Firefox 18+ */
					display: -ms-flexbox;
					/* IE 10 */
					display: flex;
					position: fixed;
					bottom: 0;
					background-color: white;
					border-top: solid 0.1rem #d1d1d1;
				}

				footer .inFooter p {
					box-flex: 1.0;
					-webkit-box-flex: 1.0;
					flex: auto;
					padding: 1% 0 1% 0;
				}

				footer .inFooter p img {
					height: 2.5rem;
					margin: 0 auto;
				}

				.indeximg {
					width: 2.8rem;
				}

				footer .inFooter p span {
					width: 100%;
					display: block;
					text-align: center;
					font-size: 0.9rem;
					color: #666;
					line-height: 1.8rem;
				}

				footer .inFooter p.current span {
					color: #FF3333;
				}

				.shoppingcart {
					position: relative;
				}

				.shoppingcart label {
					position: absolute;
					width: 1.6rem;
					height: 1.6rem;
					border-radius: 50%;
					background: #FF0000;
					left: 3rem;
					bottom: 2rem;
					line-height: 1.6rem;
					text-align: center;
					font-size: 1.2rem;
					color: white;
				}

				/*返回顶部*/

				#topcontrol {
					position: fixed;
					bottom: 7rem;
					right: 1rem;
					opacity: 1;
					cursor: pointer;
					width: 4rem;
					height: 4rem;
					z-index: 1000;
					display: none;
				}

				.info {
					height: 4rem;
					text-align: center;
					line-height: 4rem;
					font-size: 1.2rem;
					color: #666;
				}